<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/head :: head}">
    <!-- Common Head -->
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-body">
        <input type="checkbox" id="menu-toggle" title="menu">
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebarUsers :: sidebar}"></aside>

        <main>
            <div class="container-main-customer">
                <h1 th:text="${editMode} ? #{'pageTitle.editSale'} : #{'pageTitle.addSale'}">Sale Form</h1>

                <form th:action="@{/sale/save}" th:object="${sale}" method="post" class="form-custom">
                    <!-- ID de la venta (solo para edición) -->
                    <input type="hidden" th:field="*{id}" th:if="${editMode}" />

                    <!-- Campo de Cantidad -->
                    <div class="form-group">
                        <input type="number" th:field="*{quantity}" class="form-input" id="quantity"
                            th:attr="placeholder=#{sale.quantity}" title="quantity">
                        <p class="error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                    </div>

                    <!-- Campo de Valor del Impuesto -->
                    <div class="form-group">
                        <input type="number" th:field="*{taxValue}" class="form-input" id="taxValue"
                            th:attr="placeholder=#{sale.taxValue}" title="taxValue">
                        <p class="error" th:if="${#fields.hasErrors('taxValue')}" th:errors="*{taxValue}"></p>
                    </div>

                    <!-- Campo de Fecha de Venta  -->
                    <div class="form-group">
                        <input type="datetime-local" th:field="*{saleDate}" class="form-input" id="saleDate"
                            title="saleDate" readonly th:if="${editMode}">
                        <input type="datetime-local" th:field="*{saleDate}" class="form-input" id="saleDate"
                            title="saleDate" th:unless="${editMode}">
                    </div>

                    <!-- Selector de Cliente -->
                    <div class="form-group">
                        <select th:field="*{customer}" class="form-input" id="customer" title="customer-selector">
                            <option value="" th:utext="#{select.customer.placeholder}"></option>
                            <option th:each="customer : ${customers}" th:value="${customer.id}"
                                th:text="${customer.name}">
                            </option>
                        </select>
                    </div>

                    <!-- Campo de ID de Empleado -->
                    <div class="form-group">
                        <input type="text" th:field="*{employeeId}" class="form-input" id="employeeId"
                            th:attr="placeholder=#{sale.employee}" title="employeeId">
                        <p class="error" th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></p>
                    </div>

                    <!-- Checkbox para Venta Online -->
                    <div class="form-group">
                        <p th:text="#{sale.online}"> </p>
                        <input type="checkbox" th:field="*{onlineSale}" class="form-check-input" id="onlineSale"
                            title="onlineSale">
                    </div>


                    <!-- Selector de Productos y Eventos -->
                    <div class="form-group">
                        <a th:href="@{/products/selectProductsAndEvents}" class="btn-select">Seleccionar Productos y Eventos</a>


                        <button type="button" id="addProductBtn" class="btn-submit">Add Product</button>
                    </div>


                    <!-- Tabla de Productos Seleccionados -->
                    <table id="selectedProductsTable">
                        <thead>
                            <tr>
                                <th th:text="#{product.name}">Name</th>
                                <th th:text="#{sale.quantity}">Quantity</th>
                                <th th:text="#{sale.price}">Price</th>
                                <th th:text="#{actions}">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Las filas se agregarán dinámicamente aquí -->
                        </tbody>
                    </table>

                    <script th:src="@{/js/saleProductsHandler.js}"></script>

                    <button type="submit" class="btn-submit">Save</button>
                </form>
            </div>
        </main>
    </div>

    <footer th:replace="~{layouts/footer :: footer}">
        <!-- Common Footer -->
    </footer>
</body>

</html>