<!DOCTYPE html>
<html lang="${session.locale}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/head :: head}">
    <!-- Common Head -->
</head>
<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-body">
        <main>
            <div class="container-main">
                <a class="btn btn-primary btn-sm" th:href="@{/sale/add}" th:text="#{button.addSale}">Add Sale</a>
                <h1 th:text="${pageTitle}">Page Title</h1>
                <table>
                    <thead>
                        <tr>
                            <th th:text="#{sale.id}">ID</th>
                            <th th:text="#{sale.quantity}">Quantity</th>
                            <th th:text="#{sale.taxValue}">Tax Value</th>
                            <th th:text="#{sale.saleDate}">Sale Date</th>
                            <th th:text="#{sale.customer}">Customer</th>
                            <th th:text="#{sale.employee}">Employee</th>
                            <th th:text="#{button.actions}">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sale : ${sales}">
                            <td th:text="${sale.id}"></td>
                            <td th:text="${sale.quantity}"></td>
                            <td th:text="${sale.taxValue}"></td>
                            <td th:text="${#temporals.format(sale.saleDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${sale.customer != null ? sale.customer.name : 'No Customer Available'}"></td>
                            <td>
                                <span th:if="${sale.onlineSale}">Online</span>
                                <span th:unless="${sale.onlineSale}" th:text="${sale.employeeId != null ? sale.employeeId : 'No Employee'}"></span>
                            </td>
                            <td>
                                <a th:href="@{/sale/detail/{id}(id=${sale.id})}" class="btn-edit" th:text="#{button.details}">Details</a>
                                <a th:href="@{/sale/edit/{id}(id=${sale.id})}" class="btn-edit" th:text="#{button.edit}">Edit</a>
                                <a th:href="@{/sale/delete/{id}(id=${sale.id})}" class="btn-delete" th:text="#{button.delete}" onclick="return confirm('Are you sure you want to delete the sale?');">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:unless="${sales != null and not #lists.isEmpty(sales)}" th:text="#{no.sales.available}">No Sales Available</p>
            </div>
        </main>
    </div>
    <footer th:replace="~{layouts/footer :: footer}">
        <!-- Common Footer -->
    </footer>
</body>
</html>
