<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/layout :: head}">
    <!-- Common Head -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header th:replace="~{layouts/layout :: header}">
        <!-- Common Header -->
    </header>

    <div class="container">
        <h2 th:text="#{sale.details}"></h2>

        <!-- Resumen de la venta en una tabla -->
        <table class="table">
            <tbody>
                <tr>
                    <th th:text="#{sale.id}"></th>
                    <td th:text="${sale.id}"></td>
                </tr>
                <tr th:if="${customerName}">
                    <th th:text="#{customer.name}"></th>
                    <td th:text="${customerName}"></td>
                </tr>
                <tr>
                    <th th:text="#{sale.quantity}"></th>
                    <td th:text="${sale.quantity}"></td>
                </tr>
                <tr>
                    <th th:text="#{sale.taxValue}"></th>
                    <td th:text="${sale.taxValue}"></td>
                </tr>
                <tr>
                    <th th:text="#{sale.saleDate}"></th>
                    <td th:text="${#temporals.format(sale.saleDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>

        <!-- Lista de empleados asociados -->
        <h3 th:text="#{sale.employees}"></h3>
        <ul>
            <li th:each="employee : ${sale.employees}" th:text="${employee.name} + ' (' + ${employee.id} + ')'"></li>
        </ul>

        <!-- Muestra si es una venta online o la ID del empleado -->
        <p th:if="${isOnlineSale}">Online</p>
        <p th:unless="${isOnlineSale}" th:text="${sale.employeeId}"></p>

        <div class="text-end">
            <!-- Enlace que se ve como un botón de Bootstrap -->
            <a th:href="@{/sale/generarpdf/{id}(id=${sale.id})}" class="btn btn-primary" role="button">Generar PDF</a>
        </div>



        <!-- Aquí puedes agregar más detalles sobre los productos vendidos -->

    </div>

    <footer th:replace="~{layouts/layout :: footer}">
        <!-- Common Footer -->
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>

</html>