<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/head :: head}">
    <!-- Head común  -->
</head>

<body>
    <header th:replace="~{layouts/header :: header}">
        <!-- Header común  -->
    </header>
    <div class="container-body">
        <input type="checkbox" id="menu-toggle" title="menu">
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebarUsers :: sidebar}"></aside>

        <main>
            <div class="container-main">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th th:text="#{product.name}"></th>
                            <th th:text="#{product.description}"></th>
                            <th th:text="#{product.quantity}"></th>
                            <th th:text="#{product.price}"></th>
                            <th th:text="#{product.supplier}"></th>
                            <th th:text="#{button.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td th:text="${product.price}"></td>
                            <th th:text="#{product.supplier}"></th>
                            <td>
                                <a th:href="@{/product/editProduct/{id}(id=${product.id})}" class="btn-edit" th:text="#{button.edit}">Edit</a>
                                <a th:href="@{/product/deleteProduct/{id}(id=${product.id})}" class="btn-delete" th:text="#{button.delete}"
                                    onclick="return confirm('¿Está seguro de eliminar el producto?');">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1 th:text="#{product.page.title}"></h1>
            </div>
            <div class="container-main">
                <a class="btn btn-primary btn-sm" th:href="@{/product/addProduct}" th:text="#{'button.addProduct'}"></a>
                
                <!-- Enlace al buscador de productos -->
                <a class="btn btn-secondary btn-sm" th:href="@{/product/searchPage}" th:text="#{'button.searchProducts'}"></a>
            </div>
        </main>
    </div>

    <footer th:replace="~{layouts/footer :: footer}">
        <!-- Footer común  -->
    </footer>
</body>

</html>
