/* Definición de variables CSS */
/* Definición de variables CSS para colores, fuentes y otros valores reutilizables */
:root {
    --color-primary: #1a1a1a;
    --color-secondary: #555;
    --color-accent: #fd732d;
    --color-bg: #282c35;
    --color-text: #fff;
    --color-text-secondary: #ccc;
    --color-alert: #ff0000;
    --color-warning: #ffae00;
    --color-success: #00ff00;
    --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border-radius: 8px;
    --text-size-XS: 0.8rem;
    --text-size-S: 1rem;
    --text-size-M: 1.2rem;
    --text-size-L: 1.5rem;
    --text-size-XL: 2rem;
    --text-size-XXL: 3rem; 
}

* {
    /* quitar color de links y otros defaults */
    color: var(--color-text);
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 94.1%;
}

/* Estilos base para el cuerpo del documento */
body {
    font-family: var(--font-stack);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: inline;
}

/* Estilos para el encabezado, navegación y pie de página */
header,
aside,
footer {
    background-color: var(--color-primary);
}

.container-body{
    display: flex;
    height: 100%;
}

/* Estilos para el elemento principal que contiene todas las secciones */
main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 4%;
    height: min-content;
}

main section a{
    background-color: var(--color-primary);
}

.dashboard-item,
main section a {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    display: grid;
    justify-content: center;
    align-content: center;
}
.dashboard-item{
    padding: 6.25rem;
    align-items: stretch;
    background-color: none; 

}

section a:hover{
    background-color: var(--color-accent);
    cursor: pointer;
}


section#dashboard {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 20px;
    margin-right: 20px;
}

section#productos a {
    height: 100%;
}

/* Estilos para las listas y elementos dentro de las secciones */
ul {
    list-style: square;
    padding: 0;
}

ul li {
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

li:hover{
    background-color: var(--color-accent);
    cursor: pointer;
}

aside {
    position: relative;
    width: 200px;
    background-color: var(--color-primary);
    padding: 20px;
    height: 100%;
    justify-content: center;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.logo i {
    margin-top: 3px;
    margin-right: 10px;
}

/* SearchBar */
/* Estilos para el contenedor de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    width: 250px;
    margin: auto;
}

/* Estilos para la barra de búsqueda */
.search-input {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px; /* Espacio adicional para el ícono */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg);
    color: white;
}

/* Estilos para el ícono de búsqueda */
.search-icon {
    position: absolute;
    background-color: transparent;
    right: 10px; 
    color: var(--color-text);
    }

.search-icon:hover {
    cursor: auto;
}

.fa-search::before{
    cursor: pointer;
}



/* Estilos para el tema oscuro y el menú desplegable */
#user-menu {
    float: right;
    position: relative;
    z-index: 1;
}

.dropbtn {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#user-menu-content {
    position: absolute;
    background-color: var(--color-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente no visible */
    transition: opacity 0.5s, visibility 0.5s; /* Transición suave */
}


#user-menu-content a {
    color: var(--color-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#user-menu-content a:hover {
    background-color: var(--color-secondary);
}

#user-menu:hover #user-menu-content {
    display: block;
    /* animacion  */
    opacity: 1; /* Completa visibilidad al pasar el ratón */
    visibility: visible;

}



/* Clases para los estados del stock */
.estado-bajo {
    color: var(--color-alert);
}

.estado-medio {
    color: var(--color-warning);
}

.estado-alto {
    color: var(--color-success);
}



/* Media queries para responsividad */

@media only screen and (max-width: 768px) {
    main {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    ul li {
        align-items: flex-start;
    }

    #productos {
        margin-top: 4%;
    }

    section#dashboard{
        margin-right: 0px;
    }

    aside {
        width: 150px;
    }
}

@media only screen and (min-width: 481px) {
    #menu-toggle {
        display: none;
    }
    #menu-text{
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    header,
    aside,
    footer {
        /* display: none; */
    }

    aside {
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    main {
        margin-left: 0;
    }

    .dashboard-item,
    ul li {
        flex-direction: column;
        align-items: flex-start;
    }
    #menu-text{
        display: auto;
    }
    #menu-toggle{
        display: none;
    }
    #menu-toggle:not(:checked) ~ aside {
        display: none;
    }
    #menu-toggle:checked ~ aside {
        position: absolute;
        z-index: 1;
    }
}