<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="~{layouts/head :: head}"></head>
</head>

<body>
    <!-- Header Layout Include -->
    <header th:replace="~{layouts/header :: header}"></header>

    <div class="container-body">
        <input type="checkbox" id="menu-toggle" title="menu">
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebarUsers :: sidebar}"></aside>

        <main>
            <!-- Panel de control Section -->
            <section id="dashboard">
                <a th:href="@{/economy}">
                    <article id="economia" class="dashboard-item">
                        <h2 th:text="#{dashboard.economy}"></h2>
                        <!-- Content goes here -->
                    </article>
                </a>
                <a th:href="@{/hr}">
                    <article id="rrhh" class="dashboard-item">
                        <h2 th:text="#{dashboard.hr}"></h2>
                        <!-- Content goes here -->
                    </article>
                </a>
                <a th:href="@{/store}">
                    <article id="tienda" class="dashboard-item">
                        <h2 th:text="#{dashboard.store}"></h2>
                    </article>
                </a>
                <a th:href="@{/companyEvent}">
                    <article id="eventos" class="dashboard-item">
                        <h2 th:text="#{dashboard.events}"></h2>
                    </article>
                </a>

            </section>


            <!-- Productos Section -->
            <section id="productos">
                <a th:href="@{/product}">
                    <article id="productos" class="dashboard-item">
                        <!-- icon of productos + h2 Productos -->
                        <h2 th:text="#{dashboard.products}"></h2>
                    </article>
                </a>

            </section>
        </main>
    </div>
    <!-- Sidebar Navigation Layout Include -->


    <!-- Footer Layout Include -->
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>