<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard ERP</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Header Layout Include -->
    <header th:replace="~{layouts/header :: header}"></header>

    <div class="container-body">
        <input type="checkbox" id="menu-toggle" >
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebar :: sidebar}"></aside>

        <main>
            <!-- Panel de control Section -->
            <section id="dashboard">
                <a th:href="@{/economia}">
                    <article id="economia" class="dashboard-item">
                        <h2>Economía</h2>
                        <!-- Content goes here -->
                    </article>
                </a>
                <a th:href="@{/rrhh}">
                    <article id="rrhh" class="dashboard-item">
                        <h2>RRHH</h2>
                        <!-- Content goes here -->
                    </article>
                </a>
                <a th:href="@{/tienda}">
                    <article id="tienda" class="dashboard-item">
                        <h2>Tienda</h2>
                    </article>
                </a>
                <a th:href="@{/eventos}">
                    <article id="eventos" class="dashboard-item">
                        <h2>Eventos</h2>
                    </article>
                </a>

            </section>


            <!-- Productos Section -->
            <section id="productos">
                <a th:href="@{/productos}">
                    <article id="productos" class="dashboard-item">
                        <!-- icon of productos + h2 Productos -->
                        <h2>Productos</h2>
                    </article>
                </a>

            </section>
        </main>
    </div>
    <!-- Sidebar Navigation Layout Include -->


    <!-- Footer Layout Include -->
</body>

</html>