<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/head :: head}">
    <!-- Head común  -->
</head>

<body>
    <header th:replace="~{layouts/header :: header}">
    </header>
    <div class="container-body">
        <input type="checkbox" id="menu-toggle" title="menu">
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebarUsers :: sidebar}"></aside>

        <main>
            <div class="container-main">
                <!-- Aquí comienza el contenido específico de la tienda VisualVision -->
                <div class="shop-header">
                </div>

                <div>
                    <div class="shop-head">
                        <h2>VisualVision Shop</h2>
                    <button type="button" class="btn">🛒 Cesta</button>
                    </div>
                    
                    <div class="product-container">
                        <!-- Iterar sobre cada producto -->
                        <div class="product-card" th:each="product : ${products}">
                            <img th:src="${product.image}" th:alt="${product.name}" class="product-image" width="400"
                                height="300">
                            <h3 th:text="${product.name}">Nombre del Producto</h3>
                            <p th:text="${product.description}">Descripción del producto</p>
                            <p class="product-price" th:text="${product.price} + '€'">Precio</p>
                            <!-- Botón Añadir al Carrito debajo de cada producto -->
                            <button type="button" class="btn">Añadir al Carrito</button>
                        </div>
                    </div>
                    <!-- Aquí termina el contenido específico de la tienda VisualVision -->
                </div>
            </div>
        </main>
    </div>

    <footer th:replace="~{layouts/footer :: footer}">
        <!-- Footer común  -->
    </footer>
</body>

</html>