<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/head :: head}">
    <!-- Head común  -->
</head>

<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-body">
        <input type="checkbox" id="menu-toggle" title="menu">
        <label for="menu-toggle" id="menu-text"><i class="fas fa-bars"></i></label>
        <aside th:replace="~{layouts/sidebarUsers :: sidebar}"></aside>

        <main>
            <div class="container-main-customer">
                <h1 th:text="${editMode} ? #{'pageTitle.editCustomer'} : #{'pageTitle.addCustomer'}">Customer Form</h1>
                <form th:action="@{/customer/save}" th:object="${customer}" method="post" class="form-custom">
                    <input type="hidden" th:field="*{id}" />

                    <!-- Form fields with adapted classes and structure -->
                    <div class="form-group">
                        <input type="text" th:field="*{name}" class="form-input" id="name" th:attr="placeholder=#{customer.name}" title="name">
                        <small class="form-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{surname}" class="form-input" id="surname" th:attr="placeholder=#{customer.surname}" title="surname">
                        <small class="form-text" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{username}" class="form-input" id="username" th:attr="placeholder=#{customer.username}" title="username">
                        <small class="form-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{password}" class="form-input" id="password" th:attr="placeholder=#{customer.password}" title="password">
                        <small class="form-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{dniNif}" class="form-input" id="dniNif" th:attr="placeholder=#{customer.dni}" title="dni">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{phone}" class="form-input" id="phone" th:attr="placeholder=#{customer.phone}" title="phone">
                    </div>
                    <div class="form-group">
                        <input type="email" th:field="*{email}" class="form-input" id="email" th:attr="placeholder=#{customer.email}" title="email">
                        <small class="form-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{address}" class="form-input" id="address" th:attr="placeholder=#{customer.address}" title="adress">
                    </div>
                    <button type="submit" class="btn-submit" th:text="#{customer.save}">Guardar</button>
                </form>
            </div>
        </main>
    </div>

    <footer th:replace="~{layouts/footer :: footer}">
        <!-- Footer común  -->
    </footer>
</body>

</html>
