<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaouts/layaout :: head">
    <!-- Head común  -->
</head>
<body>
    <header th:replace="layaouts/layaout :: header">
        <!-- Header común  -->
    </header>

    <div class="container">
        <a class="btn btn-primary btn-sm" th:href="@{/customer/add}" title="Crear cliente">Crear cliente</a>
        <h1 th:text="${pageTitle}"></h1><!-- Título dinámico -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Username</th>
                    <th>DNI/NIF</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.surname}"></td>
                    <td th:text="${customer.username}"></td>
                    <td th:text="${customer.dniNif}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.address}"></td>
                    <td>
                        <a th:href="@{/customer/edit/{id}(id=${customer.id})}" class="btn btn-success">Editar</a>
                        <a th:href="@{/customer/delete/{id}(id=${customer.id})}" class="btn btn-danger"
                        onclick="return confirm('¿Está seguro de eliminar el cliente?');">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="layaouts/layaout :: footer">
        <!-- Footer común  -->
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
