<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <main class="container">
        <header>
            <h2>Bienvenido/a a Virtual Vision</h2>
        </header>

        <section>
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <legend>Iniciar Sesión</legend>
                    <!-- Mensaje de error -->
                    <div th:if="${error}" class="error-message">
                        <p>Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.</p>
                    </div>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Usuario" required autofocus>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">Iniciar Sesión</button>
                </fieldset>
            </form>
        </section>

        <section class="social-login">
            <div class="divider">
                <span>o continúa con</span>
            </div>

            <!-- Botón de inicio de sesión con Google -->
            <a th:href="@{/oauth2/authorization/google}" class="google-btn">
                <i class="fab fa-google"></i>
                Inicia Sesión con Google
            </a>

        </section>

        <div class="divider2"></div>

        <footer>
            <p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate</a></p>
        </footer>
    </main>
</body>

</html>