<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Salir de Sesión</title>
    <link rel="stylesheet" href="/css/logout.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <main class="container">
        <header>
            <h2>Has salido de Virtual Vision</h2>
        </header>

        <section class="logout-message">
            <p>Has salido de tu cuenta con éxito. Para iniciar sesión de nuevo, haz clic en el botón de abajo.</p>
            <a href="/login" class="login-button">Iniciar Sesión</a>
        </section>

        <footer>
            <p>Gracias por usar Virtual Vision. ¡Esperamos verte de nuevo pronto!</p>
        </footer>
    </main>
</body>

</html>
