<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>

    <main class="container">
        <header>
            <h2>Bienvenido/a a Virtual Vision</h2>
        </header>

        <section>
            <form th:action="@{/register}" method="post">
                <fieldset>
                    <legend>Registrarse</legend>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Usuario" required autofocus>

                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="Nombre" required>

                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email" required>

                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>

                    <button type="submit">Registrarse</button>
                </fieldset>
            </form>
        </section>

        <section class="social-login">
            <div class="divider">
                <span>o regístrate con</span>
            </div>

            <!-- Botón de inicio de sesión con Google -->
            <button type="button" class="google-btn"
                th:onclick="'window.location.href=\'' + @{/oauth2/authorization/google} + '\''">
                <i class="fab fa-google"></i>
                Registrate con Google
            </button>

        </section>

        <div class="divider2"></div>

        <footer>
            <p>¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión</a></p>
        </footer>
    </main>

</body>

</html>