<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Layout Header</title>
</head>

<body>
    <header th:fragment="header">
        <nav>
            <div class="nav-container">
                <a th:href="@{/dashboard}" class="logo"><i class="fas fa-angle-double-down"></i><p th:text="#{layout.title}"></p></a>
                <div class="search-container">
                    <form th:action="@{/searchBar}" method="get" class="search-container">
                        <input type="text" title="search" th:attr="placeholder=#{header.search}" class="search-input">
                        <button type="submit" class="search-icon" th:attr="title=#{header.search}">
                            <i class="fas fa-search "></i>
                        </button>
                    </form>
                </div>
                <div id="user-menu">
                    <div class="dropbtn" th:text="#{header.user}" th:attr="title=#{header.user}"> <i class="fas fa-caret-down"></i></div>
                    <div id="user-menu-content">
                        <a th:href="@{/customer}" th:text="#{header.manageUsers}"></a>
                        <a th:href="@{/logout}" th:text="#{header.logout}"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>