<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Layout Sidebar</title>
</head>

<body>
    <aside th:fragment="sidebar">
        <nav>
            <!-- Barra de navegación lateral -->
            <ul>
                <li><a th:href="@{/dashboard}">Panel de control</a></li>
                <li><a th:href="@{/rrhh}">RRHH</a></li>
                <li><a th:href="@{/productos}">Productos</a></li>
                <li><a th:href="@{/tienda}">Tienda</a></li>
                <li><a th:href="@{/eventos}">Eventos</a></li>
                <li><a th:href="@{/economia}">Economía</a></li>
                <!-- Más elementos del menú -->
            </ul>
        </nav>
    </aside>
</body>

</html>
